@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MCT College</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>We’re Transforming Health Care</h2>
        <p>
            Health care costs too much and moves too slowly. We’re attacking these and other problems with the urgency they deserve. Whether you’re in medicine, engineering, business or design, you can be part of the solution.
        </p>
    </div>
    <div class="col-md-4">
        <h2>First Class is Public</h2>
        <p>Texas means top national programs with a public mission, an affordable cost, and a culture that welcomes talented, diverse students with unlimited potential..</p>
    </div>
    <div class="col-md-4">
        <h2>We Do High-Impact Research</h2>
        <p>At Texas, we’re contributing to technological revolutions and a safer and healthier future. Here, our faculty and students are working to find energy solutions, to increase national security, and to deepen our sense of history and culture.</p>
    </div>
</div>